<div class='jumbotron login'>
  <div class="text-wrapper">
    <h1><strong>Moderate.it</strong> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></h1>
    <h3><em>Enhanced Real-time Classroom Interaction and Analytics</em></h3>
    <fieldset>
      <h2>Login</h2>
      <p>
        <button class='btn btn-lg' ng-click="oauthLogin('github')">GitHub</button>
      </p>
      <div class="google-play"></div>
      <div class="app-store"></div>
    </fieldset>
  </div> <!-- closes text-wrapper -->
</div>
<div class="container marketing">
  <div class="row">
    <div class="col-md-4">
      <h2>Classroom Feedback</h2>
      <p>Lecturers need a better way to guage whether their class understands the material. Moderate.it allows you to poll your class on the fly.</p>
    </div>
    <div class="col-md-4">
      <h2>Custom Tools</h2>
      <p>In addition to simple polling of your audience, you can create custom Town Halls&trade; and organize unique Reflection Sessions&trade; that can be updated mid lecture.</p>
   </div>
    <div class="col-md-4">
      <h2>Real-time</h2>
      <p>Moderate.it delivers all content to instructors and audience in real-time - no delay. Interactions between students and lecturers all happen within a matter of seconds.</p>
    </div>
  </div>
</div>