
<!-- For testing purpose, should be deleted on production -->
<!-- <div class='col-lg-6 col-lg-offset-3'> -->
<div class='jumbotron'>
  <h1>Thumbs Check <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></h1>



<!-- Vertical button group, visible only for sm and xs screens -->


  <div ng-if="quizTrigger" ng-init="quizTrigger = false">
    <div>
      <h2>Quiz:</h2> <h3>{{ quiz.question }}</h3> <br/>
      <div class="btn-group btn-group-justified btn-group-lg hidden-sm hidden-xs" >
        <label class="btn btn-primary" ng-model="quizChoice" btn-radio="choice" ng-click="submitQuizChoice($index)" ng-repeat="choice in quiz.choices track by $index">{{choice}}</label>
      </div>

      <div class="btn-group-vertical btn-group-lg visible-sm visible-xs hidden-md hidden-lg">
        <label class="btn btn-primary" ng-model="quizChoice" btn-radio="choice" ng-click="submitQuizChoice($index)" ng-repeat="choice in quiz.choices track by $index">{{choice}}</label>
      </div>
    </div>
  </div>

  <div ng-if="!(townHall < 0)">
    <h2>Town Hall: {{ townHallObj.topic }}</h2> 
    <form ng-submit="addQuestion(question)">
      <div class="form-group">
        <label for="question"><h3>Enter Question</h3></label>
        <input ng-model="question" type="text" class="form-control" id="question" placeholder="Please enter a question" required />
      </div>
    </form>

    <accordion close-others=false>
      <div ng-repeat="questionObj in questionsObj">
        <accordion-group>
          <accordion-heading>
            {{questionObj.question}}
          </accordion-heading>
          <div>
            <div class="btn-group btn-group-justified btn-group-sm">
              <label ng-repeat="thumbs in userThumbsChoices track by $index"class="btn btn-primary" ng-click="vote(questionObj, thumbs.choice)" >
                <span class={{thumbs.icon}} aria-hidden="true"></span> {{thumbs.choice}}
              </label>
            </div>

          </div>
        </accordion-group>
      </div>

    </accordion>
  
  </div>

  <div ng-if="!(reflection < 0)">
    <h2>Reflection: {{ reflectionObj.title }}</h2> 
    <accordion close-others=false>
      <div ng-repeat="topicObj in topicsObj">
        <accordion-group>
          <accordion-heading>
            {{topicObj.topic}}
          </accordion-heading>
          <div>
            <div class="btn-group btn-group-justified btn-group-sm">
              <label ng-repeat="thumbs in userThumbsChoices track by $index"class="btn btn-primary" ng-click="voteReflection(topicObj, thumbs.choice)" >
                <span class={{thumbs.icon}} aria-hidden="true"></span> {{thumbs.choice}}
              </label>
            </div>
            <!-- 
            <div class="btn-group btn-group-justified btn-group-sm">
              <label ng-repeat="thumbs in userExpectationChoices track by $index"class="btn btn-primary" ng-click="voteReflection(topicObj, thumbs.choice,'Expectation')" >
                <span class={{thumbs.icon}} aria-hidden="true"></span> {{thumbs.choice}}
              </label>
            </div>
            <div class="btn-group btn-group-justified btn-group-sm">
              <label ng-repeat="thumbs in userUsefulnessChoices track by $index"class="btn btn-primary" ng-click="voteReflection(topicObj, thumbs.choice,'Usefulness')" >
                <span class={{thumbs.icon}} aria-hidden="true"></span> {{thumbs.choice}}
              </label>
            </div>
            <div class="btn-group btn-group-justified btn-group-sm">
              <label ng-repeat="thumbs in userExperienceChoices track by $index"class="btn btn-primary" ng-click="voteReflection(topicObj, thumbs.choice,'Experience')" >
                <span class={{thumbs.icon}} aria-hidden="true"></span> {{thumbs.choice}}
              </label>
            </div>
            -->
          </div>
        </accordion-group>
      </div>
    </accordion>
  </div>


</div>

<!-- joseph's edition -->
<div class="footer" ng-cloak="">
  <nav class="navbar navbar-inverse navbar-fixed-bottom">

    <div  ng-show="thumbsTrigger">
    
    <div class="btn-group btn-group-justified btn-group-sm">
      <label ng-repeat="thumbs in userThumbsChoices track by $index"class="btn btn-primary" ng-click="clicked(thumbs.choice)" >
        <span class={{thumbs.icon}} aria-hidden="true"></span> {{thumbs.choice}}
      </label>
    </div>
  </div>



    
  </nav>
</div>


